</main>
    <footer>
        <div class="footer-copyright blue">
            <div class="container">
                <p class="center-align blue white-text">&copy; Martin Dwyer, 2020</p>                
            </div>
        </div>
    </footer>
<script src="/js/materialize.min.js"></script>
<script src="/js/site.js"></script>
</body>

</html>