<!DOCTYPE html>
<html>

<head>

    <title>Commerce Store</title>
    <link rel="icon" type="image/png" href="/images/icon.png" />

    {{!-- Compiled and minified CSS from Bulma --}}
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">

    {{!-- Compiled and minified CSS from FontAwesome --}}
    <link rel="stylesheet" type="text/css" href="/css/fontawesome/css/all.css">

    {{!-- Site specific css from static directory --}}
    <link rel="stylesheet" type="text/css" href="/css/site.css" />


</head>

<body class="has-navbar-fixed-top">

    <main>


        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a id="logo-box" class="navbar-item" href="/">
                    <i class="fas fa-cloud"></i>
                    <h3><span class="logo-font">{{title}}</span></h3>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>

                    {{#if admin}}

                    <a href="/admin/products" class="navbar-item">
                        Products
                    </a>
                    <a href="/admin/users" class="navbar-item">
                        Users
                    </a>
                    <a href="/admin/sales" class="navbar-item">
                        Sales
                    </a>
                    <a href="/admin" class="navbar-item">
                        Dashboard
                    </a>

                    {{/if}}
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#if email}}
                            <div id="welcome-message">Welcome {{email}} !</div>
                            <a href="/signout" class="button is-primary">
                                <strong>Sign Out</strong>
                            </a>
                            {{else }}
                            <a href="/signup" class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a href="/signin" class="button is-light">
                                Log in
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </nav>