{{>header}}

<div class="page-content">

    <div id="landing-page">
        <h3>Your Online Shopping Solution</h3>
        <div id="header-image">
            <div class="image"><img src="/images/logo.png" /></div>
            <div class="image"><img src="/images/store.png" /></div>
        </div>
    </div>

</div>


{{>footer}}