{{>header}}

<div class="page-content">

    <h4 class="center-align">Online Shopping Solution</h4>
    <h4 class="center-align"><img src="/images/store.png" height="400" /></h4>

</div>


{{>footer}}