{{>header }}


<div class="page-content">
    <h1>Unauthorized Attempt to Access</h1>
    <p>{{message}}</p>
    <p>Administrative users must be approved by admin@ecomm.com</p>

</div>






{{>footer }}