{{> header }}

<div class="page-content">

  <h4 class="center-align">Online Shopping Solution</h4>
  <h4 class="center-align"><img src="/images/store.png" height="200" /></h4>

  <form id="signup-form" method="POST">
    <h6>Provide the required information in order to sign up for {{ title }} </h6>
    <input name="email" id="signup-email" placeholder="email" />
    <input name="password" id="signup-password" placeholder="password" />
    <input name="passwordConfirmation" id="signup-password-confirm" placeholder="password confirmation" />
    <button class="waves-effect waves-light btn">Sign Up</button>
    <div id="signup-error"></div>
  </form>

</div>
<script src="/js/signup-validation.js"></script>

{{> footer }}