    {{> header }}
    
    <div class="page-content">
      <h4>Provide the required information in order to sign up for {{ title }} </h4>
      <form id="signup-form" method="POST">
        <input name="email" id="signup-email" placeholder="email" />
        <input name="password" id="signup-password" placeholder="password" />
        <input name="passwordConfirmation" id="signup-password-confirm" placeholder="password confirmation" />
        <button>Sign Up</button>
      </form>
      <div id="signup-error"></div>
    </div>
    <script src="/js/signup-validation.js"></script>

    {{> footer }}

